@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #716864;
  border-radius: 10px;
}

/* chat */

.user-message .cs-message__content {
  background-color: #32435f;
  color: #fff;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.admin-message .cs-message__content {
  background-color: #353966;
  color: #fff;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
  background-color: #fff;
  color: #000;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
